*{
	padding: 0;
	margin: 0;
}
body{
	background: url(../images/bg_lr.jpg) no-repeat;
	background-size: 100%;
}
.title{
	margin-top: 660px;
	margin-left: 30px;
	height: 130px;
	width: 400px;
}
.title .t1{
	display: block;
	font-size: 50px;
	color: #00BCD4;
	font-family: "微软雅黑";
}

.title .t2{
	display: block;
	font-size: 30px;
	color: #00BCD5;
	font-family: "微软雅黑";
	margin-left: 150px;
	margin-top: 20px;
}